version: "3.9"

services:
  mongo:
    image: mongo:6
    container_name: mongo
    restart: always
    ports:
      - "27018:27017"
    volumes:
      - mongo-data:/data/db

  mysql:
    image: mysql:8
    container_name: mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: Aryan@1234
      MYSQL_DATABASE: mydb
    ports:
      - "3307:3306"
    volumes:
      - mysql-data:/var/lib/mysql

  next-app:
    build: .
    container_name: next-app
    ports:
      - "3000:3000"
    env_file:
      - .env
    environment:
      NODE_ENV: production
      MONGODB_URI: mongodb://mongo:27017/school
      DATABASE_URL: "mysql://root:Aryan%401234@mysql:3306/mydb"
    depends_on:
      - mongo
      - mysql

volumes:
  mongo-data:
  mysql-data:
